<%= form_for(@ware) do |f| %>
  <% if @ware.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ware.errors.count, "error") %> prohibited this ware from being saved:</h2>

      <ul>
      <% @ware.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kod %>
    <%= f.text_field :kod %>
  </div>
  <div class="field">
    <%= f.label :nazwa %>
    <%= f.text_field :nazwa %>
  </div>
  <div class="field">
    <%= f.label :podatek %>
    <%= f.text_field :podatek %>
  </div>
  <div class="field">
    <%= f.label :grupa %>
    <%= f.text_field :grupa %>
  </div>
  <div class="field">
    <%= f.label :platnosc %>
    <%= f.text_field :platnosc %>
  </div>
  <div class="field">
    <%= f.label :jednostka %>
    <%= f.text_field :jednostka %>
  </div>
  <div class="field">
    <%= f.label :ilosc %>
    <%= f.text_field :ilosc %>
  </div>
  <div class="field">
    <%= f.label :cena_netto %>
    <%= f.text_field :cena_netto %>
  </div>
  <div class="field">
    <%= f.label :cena %>
    <%= f.text_field :cena %>
  </div>
  <div class="field">
    <%= f.label :op %>
    <%= f.text_field :op %>
  </div>
  <div class="field">
    <%= f.label :bl %>
    <%= f.text_field :bl %>
  </div>
  
  <div class="actions">
    <%= f.submit 'Zapisz' %>
  </div>
<% end %>
