<p id="notice"><%= notice %></p>

<p>
  <b>Kod:</b>
  <%= @ware.kod %>
</p>

<p>
  <b>Nazwa:</b>
  <%= @ware.nazwa %>
</p>

<p>
  <b>Podatek:</b>
  <%= @ware.podatek %>
</p>

<p>
  <b>Grupa:</b>
  <%= @ware.grupa %>
</p>

<p>
  <b>Platnosc:</b>
  <%= @ware.platnosc %>
</p>

<p>
  <b>Jednostka:</b>
  <%= @ware.jednostka %>
</p>

<p>
  <b>Ilosc:</b>
  <%= @ware.ilosc %>
</p>

<p>
  <b>Cena netto:</b>
  <%= @ware.cena_netto %>
</p>

<p>
  <b>Cena:</b>
  <%= @ware.cena %>
</p>

<p>
  <b>Op:</b>
  <%= @ware.op %>
</p>

<p>
  <b>Bl:</b>
  <%= @ware.bl %>
</p>


<%= link_to 'Edit', edit_ware_path(@ware) %> |
<%= link_to 'Back', wares_path %>
